name: notify
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: notify
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}

